.App {
  text-align: center;
  align-items: center;
}

.MainGame{
  display: flex;
  width: 510px;
  height: 510px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}

.BoardDisable {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 8px;
}

.BoardAble {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 8px;
  background-color: gray;
}

.BoardFinished {
  height: 170px;
  width: 170px;
  line-height: 160px;
  font-size: 200px;
}

.SquareBig {
  height: 170px;
  width: 170px;
  box-sizing: border-box;
  border: 2px solid black;
}

.SquareSmallAble {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: 2px solid black;
  line-height: 50px;
  font-size: 40px;
}

.SquareSmallDisable {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: 2px solid black;
  line-height: 50px;
  font-size: 40px;
}

.SquareSmallAble:hover{
  cursor: pointer;
  background-color: orange;
}